<%= form_with(model: @store, local: true) do |f| %>
  <div class="form">
    <div class="session_form">
      <div class="field_form">
        <%= f.label :date, class: "form_title" %><br />
        <%= f.date_field :date, autofocus: true, autocomplete: "date", class: "email" %>
      </div>

      <div class="field_form">
        <%= f.label :店名, class: "form_title" %><br />
        <%= f.text_field :store_name, autocomplete: "store_name", class: "password" %>
      </div>

      <div class="field_form">
        <%= f.label :コメント, class: "form_title" %><br />
        <%= f.text_field :comment, autocomplete: "comment", class: "password" %>
      </div>

      <div class="actions">
        <%= f.submit "更新する", class: "actions_login_btn" %>
      </div>

    </div>
  </div>
<% end %>
