<div class="history">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">店名</th>
        <th scope="col">コメント</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.date %></td>
          <td><%= store.store_name %></td>
          <td><%= store.comment %></td>
          <td><%= link_to "編集", edit_store_path(store) %></td>
          <td><%= link_to "削除", store_path(store), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="to_top_page">
    <%= link_to "実績を追加する", new_store_path, class: 'top_page_btn' %>
  </div>
</div>
