<div class="history">
  <table class="table border-primary table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">日付</th>
        <th scope="col">店名</th>
        <th scope="col">コメント</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.date %></td>
          <td><%= store.store_name %></td>
          <td><%= store.comment %></td>
          <td>
            <%= link_to edit_store_path(store), class: "btn btn-primary text-white" do %>
              <i class="fa-solid fa-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to store_path(store), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "btn btn-danger text-white" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="to_top_page">
    <%= link_to "実績を追加する", new_store_path, class: 'top_page_btn' %>
  </div>
</div>
