<div class="find_page">
  <% @users.each do |user| %>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <%= link_to user_path(user), class: "card-title" do %>
          <%= image_tag user.profile_image.url, class: "profile_image" %>
          <span class="card-title"><%= user.name %></span>
        <% end %>
        <p class="card-text"><%= user.self_introduction %></p>
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー中", user_relationship_path(user), data: {turbo_method: :delete, turbo_confirm: "フォローを解除しますか？"}, class: "follow_link" %>
          <% else %>
            <%= link_to "フォローする", user_relationship_path(user), data: {turbo_method: :post }, class: "follow_link" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

