<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="form">
    <div class="session_form">
      <div class="field_form">
        <%= f.label :ユーザーネーム, class: "form_title" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "email" %>
      </div>

      <div class="field_form">
        <%= f.label :プロフィール画像, class: "form_title" %><br />
        <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
      </div>

      <div class="field_form">
        <%= f.label :一言, class: "form_title" %><br />
        <%= f.text_field :self_introduction, autofocus: true, autocomplete: "name", class: "email" %>
      </div>

      <div class="field_form">
        <%= f.label :メールアドレス, class: "form_title" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %>
      </div>

      <div class="field_form">
        <%= f.label :パスワード（6文字以上）, class: "form_title" %>
        <br />
        <%= f.password_field :password, autocomplete: "new-password", class: "password" %>
      </div>

      <div class="field_form">
        <%= f.label :確認用パスワード, class: "form_title" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "actions_login_btn" %>
      </div>
    </div>
  </div>
<% end %>
